body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg,#66eaa8,#6ca8da6e);/*I used this to gradually change the color with the function linear-gradint ,
    who changes the color depending on the direction given */
    display: flex; /*to use the properties flex*/
    justify-content: center; /* align depending  the horizontal axis at center*/
    align-items: center; /* align along vertical axis at center*/
    height: 100vh; /* the height depending */
    
}

.container{
    background:white;
    padding: 2rem 2.5rem; /* the space inside my container horizontally and vertically*/
    border-radius: 15px;    
    text-align: center; /* alignmen's text at center*/
    width: 400px; 
}
h2{
    margin-bottom: 1.5rem; 
}

label{
    display:  block;
    text-align: left;
    margin: 0.5rem 0 0.2rem;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 0.2rem;
    text-align: right;
    border-radius: 8px;
    border: 3px black solid;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    
}

button{
    background-color: rgba(0, 0, 255, 0.705); /*I  use the function rgba(red,green,blue) to produces a blue color  with an opacity 0.705*/
    border: 2px black solid;
    cursor: pointer;
    border-radius: 8px;
    width: 5rem;
    font-size: 1rem;
    transition: 0.3s ease; /* To produce a transition with a duration ease 0.3sec*/
}

button:hover{
    background: greenyellow;
}

#result{
    margin-top: 1.5rem;
    padding: 1rem;
    background: gray;
    border-radius: 10px;
    font-weight: bold;
    
}

